.container{
	max-width: 80%;
	background-color: blanchedalmond;
	margin: auto;
	display:flex;
}
.col-md-6{
	max-width: 50%;
}

ul{
	display: flex;
	flex: wrap;
	list-style-type: none;
}
li{
	padding: 5px;
	text-transform: uppercase;
	text-decoration: none;
}
a{
	text-decoration: none;
	color: white;
}
